.Homepage {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../public/images/web1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:  color-dodge;  
    background-color: rgba(0, 0, 0, 0.8);
    background-size:  cover ; 
    font-family: UthmanicHafs;
}

.Homepageleft{
    background-color: #1a1f2c;
    color: white;
    border-radius: 13px ;
}