.slider-container {
  max-width: 100%;
  margin: auto;
  text-align: center;
  min-height: 100vh;
  padding: 100px 0;
  background-color: #004d40;
  color: aliceblue;
}

.slider-image {
  width: fit-content;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.headQuran {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.image-number {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.input-container {
  margin-top: 15px;
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

.go-button {
  margin-left: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 767px) {
  .slider-container {
    max-width: 700px;
  }
  .slider-image {
    width: 100%;
  }
}
